@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #333538;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}
.contat-h{
          font-size: 52px;
          line-height: 1.2;
}
.contact-img{
          height: 600px;
          width: 369px;
          object-fit: cover;
          border-radius: 10px;
}
.contact-social a {
  margin: 0 10px;
  color:black;
  font-size: 18px;
}

.contact-social a:hover {
  color: #00acee;
}
  
@media (max-width: 768px) {
   
  
}

